.ex-today-item-container {
  color: white;
  padding: 15px 5px;
  background-color: var(--blue);
  border-radius: 20px;
  margin: 10px 25px;
}

.ex-today-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ex-today-item {
  height: 100px;
}

.ex-current {
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
  color: white;
  margin-bottom: 20px;
}

.ex-current-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2em;
  justify-content: space-between;
}

.ex-current-icon {
  font-size: 5em;
}
