.expention {
  width: 350px;
  background-image: url("../../../public/data/sky.jpg");
  background-size: cover;
  height: 1000px;
}

.expension-current-location {
  color: white;
  margin-bottom: 0;
  padding-top: 20px;
}
