.custom-dialog .modal-content {
  background-color: white;  /* 모달 배경색을 설정 */
  padding: 5px;              /* 모달 내부의 패딩을 설정 */
}

.custom-dialog .modal-title {
  font-size: 25px;            /* 모달의 타이틀 폰트 크기를 설정 */
  color: #333;                /* 모달의 타이틀 색상을 설정 */
}

.custom-dialog {
  width: 800px  !important ;     /* 모달의 너비를 직접 설정 */
  max-width: 1000px  !important ;   /* 모달의 최대 너비를 설정 */
  height: 300px;      /* 모달의 높이를 직접 설정 */
  max-height: 1000px  !important ;  /* 모달의 최대 높이를 설정 */
  margin: auto;       /* 모달을 화면 중앙에 배치 */
}

.map-container {
  position: relative;
  background: url('../../../public/data/map.png') no-repeat;
  background-size: 100%;
  width: 410px;  /* 지도 이미지의 실제 너비 */
  height: 600px; /* 지도 이미지의 실제 높이 */
}

.circleMap {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
}
.city-name {
  position: absolute;
  bottom: 70%;
  width: 100%;
  color: black;
}

.index {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 30px;
  border-radius: 50%;
  font-size: 12px; 
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  background: #7296FE;
}

.container-modal {
  display: flex;
  justify-content: row;
}

.behavior{
  margin-left: 10px;
}

.textbox {
  border: 1px solid grey ;
  margin: 20px 0;
  padding: 5px;
  width: 320px;
  font-size: 12px; 
  white-space: pre-wrap;
  padding-top: 20px;
  position: relative;
}

.titlebox {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  font-weight: bold;
  padding-left: 5px;
}