.bordered-div {
  border: 1px solid #7296FE;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width:95%;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:solid 2px #7296FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: #7296FE;
}

.circle-group, .grades, .badge-group {
  display: flex;
  flex-direction: flex-start;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.circle p {
  margin: 0;
}

.fixed-size-badge {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-container {
  display: flex;
  flex-direction: flex-start;
}

.badge-text {
  margin-left: 5px;
}

.grades{
  margin-top: 10px;
}

.badge-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.custom-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  color: #fff;
}

.st{
  margin-left: 15px;
}