.App {
  color: white;
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
  font-family: "East";
}
.center-content {
  width: 75%;
  background-color: var(--navy2);
  color: white;
}
.expention-fixed {
  width: 20%;
  background-color: var(--navy3);
}
.sidebar-fixed {
  width: 5%;
  background-color: var(--navy);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.MainChart {
  background-color: var(--navy);
  margin-bottom: 30px;
  width: 90%;
  border-radius: 10px;
}
