.weather-item {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-item div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
